footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-main);
    margin-top: 1.5em;
    padding: .5em;

    font-size: clamp(1rem, 10.5vw, 1.5rem);

}
.footerLogo      {
    width: clamp(4em, 10.5vw, 10em);  
}
.qboBadges {
    display: flex;
    gap: .5em;

    & img {
        width: clamp(2em, 7.5vw, 4em);
    }
}