footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-main);
    margin-top: 1.5em;
    padding: .5em;

    font-size: clamp(1rem, 4.5vw, 2rem);

    & img {
        width: clamp(7em, 7.5vw, 10em);  
    }
}